* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title,
.content,
.button-container {
  margin: 10px;
  padding: 15px 10px;
}

.title {
  background: #e3f4ff;
  margin: 10px;
  padding: 12px 10px;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 10px 20px;
  margin: 0 auto;
}